nav {
    display: flex;
    justify-content: flex-end;
}



.navLogo {
    display: flex;
    justify-content: flex-start;
    min-width: 70%;
    font-size: 42px;
    font-weight: 800;


}

.navUserArea {
text-align: center;
}
.navWelcome {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.navLinks {

}

.navLinks a {
    padding: 5px;
    margin: 0px 10%;
}